# Pandas - Data Analysis with Python
(last update 20/10/22 still work in progress)

Pandas is a high-performance, easy-to-use data structures and data analysis tools.

<img src="images/pandas.jpg" style="width: 500px;"/>

**There is abundance of data and we should/need to make sense of it**
- Smart devices, Strava, ...
- [SSB](https://data.ssb.no/api/) Statistics Norway *
- [EuroStat](https://ec.europa.eu/eurostat/web/population-demography/demography-population-stock-balance/database) Statistics Europe *
- [Kaggle](https://www.kaggle.com/datasets/) Data Science compatitions*
- [Quandl](https://www.quandl.com/) for finances
- [Yr](http://om.yr.no/verdata/free-weather-data/)
- [Oslo Bysykkel API](https://developer.oslobysykkel.no) **

(We will work with these ones today in lecture* or exercises**)

## What is Pandas good for?

Working with (large) data sets and created automated data processes.

Pandas is extensively used to prepare data in data science (machine learning, data analytics, ...)

Examples:
- Import and export data into standard formats (CSV, Excel, Latex, ..).
- Combine with Numpy for advanced computations or Matplotlib for visualisations.
- Calculate statistics and answer questions about the data, like
- What's the average, median, max, or min of each column?
  - Does column A correlate with column B?
  - What does the distribution of data in column C look like?
- Clean up data (e.g. fill out missing information and fix inconsistent formatting) and merge multiple data sets into one common one

## More information

* Official Pandas documentation: http://pandas.pydata.org/pandas-docs/stable/tutorials.html 
* Pandas cookbook: http://pandas.pydata.org/pandas-docs/stable/cookbook.html
* Wes McKinney, Python for Data Analysis 
![Python for Data Analysis](images/python_for_data_analysis.gif "Python for Data Analysis")
* [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by Jake VanderPlas *(We follow Chapter 4 in this lecture)*
<img src="./images/PDSH-cover.png" style="width: 200px;"/>

## This lecture
- Part1 Introduction to Pandas
- Part2 Hands on examples with real data

## Installation

- If you have Anaconda: Already installed
- If you have Miniconda: 
      `conda install pandas`
- If you have your another Python distribution: 
      `python3 -m pip install pandas`

Let's dive in

In [ ]:
import pandas as pd

## Pandas `Series` object
`Series` is 1d series of data similar to `numpy.array`.

In [ ]:
series = pd.Series([4, 5, 6, 7, 8])
series.values

In [ ]:
series.index

In [ ]:
(series.values.dtype, series.index.dtype)

We see that `series` are indexed and both `values` and `index` are typed. As we saw with numpy this has performance benefits. The similarity with `numpy.array`

In [ ]:
series[0]

In [ ]:
import numpy as np

np.power(series, 2)

However, the indices do not need to be numbers (and neither need to be the values)

In [ ]:
values = list(range(65, 75))
index = [chr(v) for v in values]
series = pd.Series(values, index=index)
series

The `series` than behaves also like a dictionary, although it supports fancy indexing.

In [ ]:
series['A'], series['D':'H']

Continuing the analogy with dictionary a possible way to make `series` is from a dictionary

In [ ]:
data = {
    'Washington': 'United States of America',
    'London': 'Great Britain',
    'Oslo': 'Norway'
}
series = pd.Series(data)
series

Note that for values that are amenable to `str` we have the string methods ...

In [ ]:
series.str.upper()

... and so we can for example compute a mask using regular expressions (here looking for states with 2 word names) ...

In [ ]:
mask = series.str.match('^\w+\s+\w+$')
mask

... which can be used to index into the series

In [ ]:
series[mask]

Some other examples of series indexing

In [ ]:
(series[0], series['London':'Oslo'], series[0:2])

We can be more explicit about the indexing with indexers `loc` and `iloc`

In [ ]:
(series.iloc[0], series.loc['London':'Oslo'], series.iloc[0:2])

In [ ]:
series[1:3]

In [ ]:
import this

But why does this matter? Consider

In [ ]:
tricky = pd.Series(['a', 'b', 'c'], index=[7, 5, 4])
tricky

In [ ]:
# Let's demonstrate that we can sort
tricky = tricky.sort_index()

In [ ]:
# Here we are refering to the value at row where index = 4 and values where at first though second row!
(tricky[4], tricky[0:2])

## Pandas `DataFrame` object
Two dimensional data are represented by `DataFrame`s. Again *Pandas* allows for flexibility of what row/columns indices can be. `DataFrame`s can be constructed in a number of ways

In [ ]:
def spreadsheet(nrows, ncols, start=0, cstart=0, base=0):
    data = base + np.random.rand(nrows, ncols)
    index = [f'r{i}' for i in range(start, start+nrows)]
    columns = [f'c{i}' for i in range(cstart, cstart+ncols)]
    # c0 c1 c2
    #r0
    #r1
    return pd.DataFrame(data, index=index, columns=columns)

data_frame = spreadsheet(10, 4)

For large frame it is usefull to look at portions of the data

In [ ]:
data_frame = spreadsheet(10_000, 4)
print(len(data_frame))
data_frame.head(10)   # data_frame.tail is for the end part

We can combines multiple series into a frame

In [ ]:
index = ('Min', 'Ingeborg', 'Miro')
nationality = pd.Series(['USA', 'NOR', 'SVK'], index=index)
university = pd.Series(['Berkeley', 'Bergen', 'Oslo'], index=index)

instructors = pd.DataFrame({'nat': nationality, 'uni': university})
instructors

In [ ]:
(instructors.index, instructors.columns)

Anothor way of creating is using dicionaries

In [ ]:
f = pd.DataFrame({'country': ['CZE', 'NOR', 'USA'], 
                  'capital': ['Prague', 'Oslo', 'Washington DC'],
                  'pop':     [5, 10, 300]})
f

When some column is unique we can designate it as index. Of course, tables can be stored in various formats. We will come back to reading later.

In [ ]:
# LaTex
import re

fi = f.set_index("country")

tex_table = fi.style.to_latex()
# To ease the prining 
for row in re.split(r'\n', tex_table):
    print(row)

In [ ]:
# CSV
tex_table = fi.to_csv(sep=";")
# To ease the prining 
for row in re.split(r'\n', tex_table):
    print(row)

Going back to frame creation, recall that above, the two series had a common index. What happens with the frame when this is not the case? Below we also illustrate another constructor.

In [ ]:
nationality = {'Miro': 'SVK', 'Ingeborg': 'NOR', 'Min': 'USA'}
university = {'Miro': 'Oslo', 'Ingeborg': 'Bergen', 'Min': 'Berkeley', 'Joe': 'Harvard'}
office = {'Miro': 303, 'Ingeborg': 309, 'Min': 311, 'Joe': -1}
# Construct from list of dictionary using union of keys as columns - we need to fill in values for some
# NOTE: here each dictionary essentially defines a row
missing_data_frame = pd.DataFrame([nationality, university, office], index=['nation', 'uni', 'office'])
missing_data_frame

In [ ]:
# Just to make it look better
missing_data_frame = missing_data_frame.T
missing_data_frame

The missing value has been filled with a special value. Real data often suffer from lack of regularity. We can check for this

In [ ]:
missing_data_frame.isna()

And the provide a missing value. Note that this can be done already when we are constructing the frame.

In [ ]:
missing_data_frame.fillna('OutThere')

Or discard the data. We can drop the row which has NaN. Note that by default any NaN is enough but we can be more tolerant (see `how` and `thresh` keyword arguments)

In [ ]:
missing_data_frame.dropna()

Or we drop the problematic column. Axis 0 is row (just like in `numpy`)

In [ ]:
missing_data_frame.dropna(axis=1)

Once we have the frame we can start computing with it. Let's consider indexing first

In [ ]:
# Get a specific series
missing_data_frame['nation']

In [ ]:
# Or several as a frame
missing_data_frame[['nation', 'uni']]

Note that slicing default to rows

In [ ]:
# Will fail because no rows names like that
missing_data_frame['nation':'office']

In [ ]:
# See that slice goes for rows
missing_data_frame['Miro':'Min']

We can call *indexers* to rescue

In [ ]:
missing_data_frame.loc[:,'nation':'uni']

Indexes can of course be more involed

In [ ]:
missing_data_frame['office'] > 305

In [ ]:
missing_data_frame.loc[missing_data_frame['office'] > 305, ['uni', 'nation']]

Next let's compute with the values in the frames

In [ ]:
f0 = spreadsheet(4, 4)
np.cos(f0)

Binary operation will align the frame - operation is valid only for they index-column pairs found in both and with will get missing for the rest

In [ ]:
f1 = spreadsheet(5, 6)
f0 + f1

Note that this is note unique to frames and works (unsuprisingly on series too)

In [ ]:
c00 = f0['c0']
c10 = f1['c0']
c00 + c10

Reduction operators default to be computed for each column

In [ ]:
f1.max()

For column wise reduction we need to specify the axis (`axis=1`)

In [ ]:
f1.mean(axis="columns")

## Pandas `Index` object

In the previous usecase `f0 + f1` we have seen that operation is performed for _common_ keys - this suggests that we can do logical operations on indices. This is indeed the case

In [ ]:
i0 = f0.index
i1 = f1.index
(i0.union(i1), i0.intersection(i1))

Indexes can be explicitely constructed. For working with time series it is useful to index by time. Let's get timestamp indexing 
for every **D**ay between 2 dates

In [ ]:
import datetime 

time = pd.date_range(start=datetime.date.fromisoformat('2022-10-19'),
                     end=datetime.date.fromisoformat('2022-12-20'), freq='D')
time

We generate the corresponding data and illustrate some plotting capabilities of `Pandas`

In [ ]:
import matplotlib.pyplot as plt 

values = np.sin(np.pi/10*np.arange(len(time)))

time_series = pd.Series(values, index=time)
time_series.plot()

Note that we are getting the nice xlabels for free!

Time indexing allows us to do some fancy opearations. For example we can have a look at the signal for only the first day of the week (Monday?). For other functionality see `resample`, 'rolling' means on `windows` ets.

In [ ]:
time_series[time.weekday == 0].plot()

### Hierarchical indexing with MultiIndex

Multiindexing is a way to handle higher order tensors, e.g. f(x, y, color). It also allows for organizing the data by establishing hierarchy in indexing. Suppose we have RGB image of 5 x 4 pixels. We could represent this as a table 
with channel x and y coordinate columns and 5 x 4 x 3 rows. A representation more true to the nature of the data would be to have a "column" for each color

In [ ]:
column_index = pd.MultiIndex.from_product([['R', 'G', 'B'], [0, 1, 2, 3]], names=('color', 'cindex'))
column_index

In [ ]:
image = pd.DataFrame(
    np.arange(60).reshape(5, 12),
    index=pd.Index([0, 1, 2, 3, 4], name='rindex'),
    columns=column_index
)
image

We can have a look at the said "flat" representation of the data

In [ ]:
image.unstack()

Accessing the entries works as follows

In [ ]:
image['R']                 # Column(s) where first multiindex is R
image.loc[:, ('R', 0)]     # Column multiindex by R, 0
image.loc[2, ('R', 1)]     # The entry

We can perform reduction operation

In [ ]:
image.mean().mean(level='cindex')  # Unpack this - note the warning is pointing to a different way of aggregating

In [ ]:
image.mean(axis=1)

## Combining datasets - appending

Extend `numpy.concatenate` to `pandas` objects. We can combine data from 2 frames if they have some "axes" in common. Let's start with 2 identical columns and do default vertical/row wise concatenation. Note that all the operations below create new `DataFrame`

In [ ]:
# Unique row indices
d1 = spreadsheet(2, 2, base=0)
d2 = spreadsheet(4, 2, base=10)
print(d1)
print(d2)

In [ ]:
pd.concat([d1, d2])

What if there are duplicate indices?

In [ ]:
d1 = spreadsheet(2, 2, base=0)   # Has r0, r1
d2 = spreadsheet(2, 2, base=10)  # Has r0, r1
print(d1)
print(d2)
d12 = pd.concat([d1, d2])
d12

We can still get values but this lack of uniqueness might not be desirable and we might want to check for it...

In [ ]:
d12.loc["r0", :]

In [ ]:
pd.concat([d1, d2], verify_integrity=True)

... or reset the index.

In [ ]:
pd.concat([d1, d2], ignore_index=True)

A different, more organized option is to introduce multiindex to remember where the data came from

In [ ]:
d12 = pd.concat([d1, d2], keys=['D1', 'D2'])
d12

In [ ]:
d12.loc['D1', :]

For frames sharing row index we can vertical/column wise concatenation

In [ ]:
d1 = spreadsheet(2, 3, cstart=0)
d2 = spreadsheet(2, 3, cstart=3)
print(d1)
print(d2)
pd.concat([d1, d2], axis=1, verify_integrity=True)

What if we are appending two tables with slighlty different columns. It makes sense that there would be some missing data

In [ ]:
d1 = spreadsheet(2, 2, cstart=0)   # Has c0 c1
d2 = spreadsheet(2, 3, start=0, cstart=1)  # c1 c2 c3
print(d1)
print(d2)
pd.concat([d1, d2], ignore_index=True)

We see that the by default we combine columns from both tables. But we can be more specific using the `join` or `join_axes` keyword arguments

In [ ]:
pd.concat([d1, d2], ignore_index=True, join='inner')  # Use the column intersection c1

## Combining datasets - use relations to extend the data
For `pd.concant` a typical use case is if we have tables of records (e.g. some logs of [transaction id, card number], [transaction id, amount]) and we want to append them. A different of way of building up/joining data is by `pd.merge`. Consider the following "relational tables". From `nationality` we know that "Min" -> "USA" while at the same time `university` maps "Min" to "Berkeley".

In [ ]:
nationality = pd.DataFrame({'name': ['Min', 'Miro', 'Ingeborg', 'Aslak'],
                            'nation': ['USA', 'SVK', 'NOR', 'NOR']})
print(nationality)
university = pd.DataFrame({'name': ['Miro', 'Ingeborg', 'Min', 'Aslak'],
                           'uni': ['Oslo', 'Bergen', 'Berkeley', 'Oslo']})
print(university)

Note that the frame are not aligned in their indexes but using `pd.merge` we can still capture the connection between "Min", "Berkely" and "USA"

In [ ]:
pd.merge(nationality, university)

Above is an example of 1-1 join. We can go further and infer properties. Let's have a look up for capitals of some states.

In [ ]:
capitals = pd.DataFrame({'nation': ['USA', 'SVK', 'NOR'],
                         'city': ['Washington', 'Brasislava', 'Oslo']})

Combining `nationality` with `capitals` we can see that "Ingeborg -> NOR -> Oslo" and thus can build a table with cities

In [ ]:
pd.merge(nationality, capitals)   # Explain

Above the merge happened `on` unique common columns. Sometimes we want/need to be more explicit about the "relation".

In [ ]:
# This table does not have the "nation" column
capitals2 = pd.DataFrame({'state': ['USA', 'SVK', 'NOR'],
                          'city': ['Washington', 'Brasislava', 'Oslo'],
                          'count': [4, 5, 6]})

We can specify which columns are to be used to build the relation as follows

In [ ]:
# We will have nation and state but they represent the same so drop
pd.merge(nationality, capitals2, left_on='nation', right_on='state').drop("nation", axis="columns")

Indexes for row can also be used to this end. Let's make a new frame which use `state` column as index.

In [ ]:
capitals_ri = capitals2.set_index('state')
capitals_ri

It's merge can now be done in two ways. The old one ...

In [ ]:
pd.merge(nationality, capitals_ri, left_on='nation', right_on="state")

... or using row indexing

In [ ]:
pd.merge(nationality, capitals_ri, left_on='nation', right_index=True)

What should happen if the relation cannot be establised for all the values needed? In the example below, we cannot infer position for all the `names` 
in the `nationality` frame. A sensible default is to perform merge only for those cases where it is well defined.

In [ ]:
jobs = pd.DataFrame({'who': ['Ingeborg', 'Aslak'],
                     'position': ['researcher', 'ceo']})

pd.merge(nationality, jobs, left_on="name", right_on="who")

However, by specifying the `how` keyword we can proceed with NaN for "outer" all the merged values or those in "left" or "right" frame.

In [ ]:
pd.merge(nationality, jobs, left_on="name", right_on="who", how="outer")  # Inner

Finally, `pd.merge` can yield to duplicate column indices. These are automatically made unique by `suffixes`

In [ ]:
pd.merge(jobs, jobs, on="who", suffixes=['_left', '_right'])

## Data aggregation and transformations

We have previously seen that we can extact information about `min`, `max`, `mean` etc where by default reduction happend for each fixed column. Hierchical indexing was one option to get some structure to what was being reducued. Here we introduce `groupby` which serves this purpose too.

In [ ]:
data = pd.DataFrame({'brand': ['tesla', 'tesla', 'tesla', 'vw', 'vw', 'mercedes'],
                     'model': ['S', '3', 'X', 'tuareg', 'passat', 'Gclass'],
                     'type': ['sedan', 'sedan', 'suv', 'suv', 'sedan', 'suv'],
                     'hp'   : [32, 43, 54, 102, 30, 50]})
data

Let us begin by "fixing" a table - say we want to capitalize the "brand" data - we can use `transform`

In [ ]:
data['brand'] = data["brand"].transform(str.capitalize)
data

Same idea done differently

In [ ]:
data['brand'] = data["brand"].str.upper()
data

Finally, we look at `transform` of the table. Here we get access to the entire row.

In [ ]:
def foo(x):
    x["w"] = x['hp']*0.7
    return x

data.apply(foo, axis="columns")  # NOTE: the new index!

Now that we are happy with the table we now want to gather information based on `brand`. If we split by `brand` we can think of 3 (as many as unique `brand` values) subtables. Within these subtables we perform further operations/reductions - they values with be combined in the final result.

In [ ]:
g = data.groupby("brand", group_keys=True)
g

Note that we do not get a frame back but instead there is a `DataFrameGroupBy` object. This way we do not compute rightaway which could be expensive. We can verify that it it's behavior is similar to the frame we wanted

In [ ]:
g.indices

The object supports many methods of the `DataFrame` so we can continue "defining" our processing pipiline. For example we can get the column

In [ ]:
g["hp"]

And finally force the computation

In [ ]:
g["hp"].max()

More complete description by `describe`

In [ ]:
g["hp"].describe()

We can also use several aggregators at once by `aggregate`

In [ ]:
g["hp"].aggregate(["min", "max"])

### Pivoting
Another way of getting overview of the data is by `pivoting` (somewhat like groupby in multiple "keys").

In [ ]:
# View "hp" just as a function of brand where the remaining dimensions are aggregated
data.pivot_table("hp", index="brand", aggfunc="sum")

In [ ]:
# View "hp" just as a function of brand and type (leaving agg on models). WE have 2 types SUV and SEDAN
data.pivot_table("hp", index="brand", columns=['type'], aggfunc="sum")

In [ ]:
# Filling in missing data
data.pivot_table("hp", index="brand", columns=['model'], aggfunc="sum")

## Hands on examples

Let's explore some datasets

__1. Used cars__

This dataset is downloaded from [Kaggle](https://www.kaggle.com/datasets/tsaustin/us-used-car-sales-data?resource=download) and statistics on saled card (ebay?). More precisely, having read the data by built-in 
reader `read_csv` we have

In [ ]:
data = pd.read_csv("./data/used_car_sales.csv", dtype={'Mileage': int, "pricesold": int})
data.columns

We can find out which manufacturer sold the most cars, by grouping and then collapsing based on size

In [ ]:
# A sanity check
data.groupby('Make').size().sum() == len(data)
# Unpack this
data.groupby('Make').size().sort_values(ascending=False).head(10)

In [ ]:
data['Make'].value_counts().sort_values(ascending=False).head(10)

We might wonder how the price is related to the car attributes. Let's consider it first as a function of milage

__Question__: Are these correlated?

In [ ]:
fix, ax = plt.subplots()
# We take the mean in others
data.pivot_table("pricesold", index="Mileage", aggfunc='mean').plot(ax=ax, marker='x', linestyle='none')
ax.set_xscale("log")
ax.set_yscale("log")

Does it vary with year?

In [ ]:
fix, ax = plt.subplots(1, 3, sharey=True)
# We take the mean in others
for i, year in enumerate((2018, 2019, 2020)):
    data.pivot_table("pricesold", index="Mileage", columns=['yearsold'], aggfunc='mean')[year].plot(ax=ax[i], marker='x', linestyle='none')
    ax[i].set_xscale("log")
    ax[i].set_yscale("log")

At this point we would like to see about the role of the cars age. However, we find out there's something off with the data.

In [ ]:
data['Year']
# We see that we have 92, 0, 20140000

We show one way of dealing with strangely formated data in the next example. In particular, we will address the problem already when reading the data.

__2. People in Norway by region and age in 2022__

The dateset is obtained from [SSB](https://data.ssb.no/api/v0/dataset/1076?lang=no) and we see that the encoding of the age will present some difficulty for numerics.

In [ ]:
with open("./data/nor_population2022.csv") as f:
    ln = 0
    while ln < 5:
        print(next(f).strip())
        ln += 1

Our solution is to specify a converter for the column which uses regexp to get the age string which is converted to integer

In [ ]:
import re
# And we also get rid of some redundant data
data = pd.read_csv("./data/nor_population2022.csv", delimiter=";",
                   converters={'alder': lambda x: int(re.search('(\d+) (ar)', x).group(1))}).drop(["ar", "xxx"], axis="columns")
data

**Question**: Can you now fix the problem with car dataset?

We can have a look at the populaton in different regions

In [ ]:
data.groupby("region")["count"].sum().plot()
plt.xticks(rotation=45)

Or breakdown the distribution

In [ ]:
fig, ax = plt.subplots()
data.pivot_table("count", index="alder", columns=["region"]).plot(ax=ax);
ax.legend(bbox_to_anchor=(1.05, 0.5))

__3. Joining__

This example is adopted from * [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook) by Jake VanderPlas. We first download the datasets

In [ ]:
!wget https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv
!mv state-abbrevs.csv ./data
!wget https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv 
!mv state-areas.csv ./data
!wget https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv 
!mv state-population.csv ./data

You can see that they contain data [full name -> abbreviation], [full_name -> area], [abbreviation -> full_name]. Given this we want to order the stated by population density

In [ ]:
abbrevs = pd.read_csv('./data/state-abbrevs.csv')
areas = pd.read_csv('./data/state-areas.csv')
pop = pd.read_csv('./data/state-population.csv')
areas.head(10)

In [ ]:
(areas.columns, pop.columns, abbrevs.columns)

We want to build a table which has both areas and population info. To get there population should get abbreviation so that we can look up areas.

In [ ]:
merged = pd.merge(pop, abbrevs, left_on='state/region', right_on="abbreviation", how="outer").drop("abbreviation", axis=1)
merged.head(5)

We inspect the integrity of dataset. Something is wrong with `state/region` which is a problem if we want to map further.

In [ ]:
merged.isnull().any()

By further inspection the missing data is for "not the usual 50 states" and so we just drop them

In [ ]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

In [ ]:
merged.dropna(inplace=True)

We can add to our table (left merge) the areas

In [ ]:
final = pd.merge(merged, areas, on="state", how="left")
final.head(5)

We use `query` (SQL like) language to get the right rows

In [ ]:
table = final.query("year == 2012 & ages == 'total'") #final['population']/final['area (sq. mi)']
table.head(10)

We will use the states to index into the column. By index preservation this will give us states to density

In [ ]:
table.set_index('state', inplace=True)
density = table['population']/table['area (sq. mi)']
density.head(5)

In [ ]:
density.sort_values(ascending=False).head(10)

__Question__: Similar data can be obtained from [Eurostat](https://ec.europa.eu/eurostat/web/population-demography/demography-population-stock-balance/database). The new thing is that the format `.tsv`. Let's start parsing the population data

In [ ]:
with open("./data/eustat_population.tsv") as f:
    ln = 0
    while ln < 10:
        print(next(f).strip())
        ln += 1

We see that the countries are subdivided. Let's figure out the reader to help here

In [ ]:
d = pd.read_csv('./data/eustat_population.tsv', sep='\t',
                converters={0: lambda x: re.search('([A-Z]{2})(\w\w)$', x).group(1)}
           )
d

The next challenge is to handle the missing values which do not show with `d.isna()` as all the values are strings and the missing is ": ". How would you solve this issue?

__4. Timeseries analysis__

Our final examples follows Chapter 4. in PDSH. We will be looking at statics from sensors counting bikers on a bridge. We have 2 counters one for left/right side each.

In [ ]:
!curl -o FremontBridge.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD;
!mv FremontBridge.csv ./data

In [ ]:
data = pd.read_csv('FremontBridge.csv', index_col='Date', parse_dates=True)
data.head()

In [ ]:
len(data)

For the next steps we will only consider the total count of bikers so we simplify the table

In [ ]:
data.columns = ['Total', 'East', 'West']
data.drop('East', axis="columns", inplace=True)
data.drop('West', axis="columns", inplace=True)

Marking at the data we can definitely see Covid19 but also some seasonal variations

In [ ]:
data.plot()
plt.ylabel('Hourly Bicycle Count');  # NOTE: that hour data is for every hour

We can downsample the signal to reveal the variations within year better. Below we downsample to **W**eeks

In [ ]:
weekly = data.resample('W').sum()
# Confirmation 
weekly.index

In [ ]:
# And again
weekly.index.isocalendar().week

In [ ]:
weekly.plot(style=['-'])
plt.ylabel('Weekly bicycle count');

Recall that having time series as index enables many convience functions. For example, we can group/bin data time points by hour and reduce on the subindices giving hous an hourly mean bike usage. It appears to correlate well with rush hours.

In [ ]:
by_time = data.groupby(data.index.time).mean()
hourly_ticks = 4 * 60 * 60 * np.arange(6)    # 3600 * 24, every 4 hour
by_time.plot(xticks=hourly_ticks, style=['-']);

We can repeat the same exercise, this time breaking up the data by hours to reveal that bikes are probably most used for commuting to work

In [ ]:
by_weekday = data.groupby(data.index.dayofweek).mean()
by_weekday.index = ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
by_weekday.plot(style=['-']);

Another look at the same thing using `pivot_table`

In [ ]:
import matplotlib.colors as colors

Z = data.pivot_table("Total", index=data.index.weekday, columns=[data.index.time]).values

plt.pcolor(Z, norm=colors.LogNorm(vmin=Z.min(), vmax=Z.max()), cmap='inferno')
plt.colorbar()

The heatmap suggests that there are 2 peaks in weekdays and a single one during the weekend. We can varify this by essentially 
collapsing/averaging the plot in the vertical direction separately for the two categories of days. Let's compute the mask for each day in the series

In [ ]:
weekend = np.where(data.index.weekday < 5, 'Weekday', 'Weekend')

Using the mask we can group the data first by the day catogory and then by hours

In [ ]:
by_time = data.groupby([weekend, data.index.time]).mean()
by_time.index[:4]

Finally we have the two collapsed plots

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(1, 2, figsize=(14, 5))
by_time.loc['Weekday'].plot(ax=ax[0], title='Weekdays', xticks=hourly_ticks, style=['-'])
by_time.loc['Weekend'].plot(ax=ax[1], title='Weekends', xticks=hourly_ticks, style=['-'], color='red');

__Question__: Head on to [Oslo Bysykkel web](https://oslobysykkel.no/apne-data/historisk) and get the trip data (as CSV). In the last years the students analyzed the trips by distance (see the IN3110 course webpage). What about the distribution of trips by the average speed? Can you use this to infer if the trip was going (on average) uphill or downhill?

In [ ]:
! wget https://data.urbansharing.com/oslobysykkel.no/trips/v1/2022/09.csv
! mv 09.csv ./data/oslo_bike_september_2022.csv

In [ ]:
with open("./data/oslo_bike_september_2022.csv") as f:
    print(next(f).strip())
    print(next(f).strip())

At this point we know that time info should be parsed with dates. For duration (in seconds) we will have ints

In [ ]:
data = pd.read_csv('./data/oslo_bike_september_2022.csv', parse_dates=['started_at', 'ended_at'], dtype={'duration': int})
data.head(5)

What is the station with most departures?

In [ ]:
data['start_station_id'].value_counts().sort_values(ascending=False)

We will approximate the trip distance by measing it as the geodesic between start and end points.

In [ ]:
from math import pi, sin, cos, asin, sqrt

def trip_distance(row):
    """As the crow flies"""
    lat_station = row["start_station_latitude"]
    lon_station = row["start_station_longitude"]

    lat_sentrum = row["end_station_latitude"]
    lon_sentrum = row["end_station_longitude"]

    degrees = pi / 180  # convert degrees to radians
    a = (
        0.5
        - (cos((lat_sentrum - lat_station) * degrees) / 2)
        + (
            cos(lat_sentrum * degrees)
            * cos(lat_station * degrees)
            * (1 - cos((lon_station - lon_sentrum) * degrees))
            / 2
        )
    )
    # We have the return value in meters
    return 12742_000 * asin(sqrt(a))  # 2 * R * asin...

distance = data.apply(trip_distance, axis="columns")

In [ ]:
duration = data['duration']
speed = distance/duration

In [ ]:

speed.hist()

In [ ]:
#from ipywidgets import HTML
#from ipyleaflet import Map, Marker, basemaps, basemap_to_tiles

In [ ]:
end_id, idx = np.unique(data['end_station_id'], return_index=True)
end = data.loc[idx, 'end_station_name']

In [ ]:
import numpy as np

start_id, idx = np.unique(data['start_station_id'], return_index=True)
start = data.loc[start_id]['start_station_name']
start